@*@model ApnaGharV2.Models.UserBO*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ApnaGharV2</title>
    <link rel="stylesheet" href="~/css/site.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" 
          asp-fallback-test-value="absolute"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg border-bottom box-shadow" style="background-color: #3b5998; color:white">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" style="font-size:x-large;">
                            <i class="fa fa-home"></i>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">PROPERTIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="PlotFinder">PLOT FINDER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">AREA GUIDES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="" asp-action="">PARTNERS</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                               asp-area="" asp-controller="" asp-action="">
                                TOOLS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Home Loan Calculator</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Area Unit Converter</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Land Record Pages</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                               asp-area="" asp-controller="" asp-action="">
                                MORE
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Maps</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Forum</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Index</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Trends</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" asp-area="" asp-controller="" asp-action="">
                        <input class="form-control" type="search" placeholder="Property ID" required>
                        <button class="btn btn-transparent text-white" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <!-- add prop btn -->
                    <a asp-controller="Property" asp-action="AddProperty">
                        <button class="btn btn-light"><i class="fa fa-plus"></i> Add Property</button>
                    </a>

                    <!-- country drop menu -->
                    <li class="nav-item dropdown text-white" style="list-style-type: none;">
                        <a class="nav-link dropdown-toggle text-white" asp-area="" asp-controller="" asp-action="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/images/pak.png" alt="pak flag" height="20px" width="25px">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">
                                    <img src="~/images/uae.png" alt="uae flag" height="20px" width="25px"> UAE
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">
                                    <img src="~/images/saudia.png" alt="saudia flag" height="20px" width="25px"> Saudi Arabia
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">
                                    <img src="~/images/bangla.png" alt="bangla flag" height="20px" width="25px"> Bangladesh
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- last 2 btns -->
                    <button class="btn btn-transparent text-white"><i class="fa fa-gear"></i></button>
                    <!-- Button trigger modal -->
                    <button class="btn btn-transparent text-white" data-bs-toggle="modal" data-bs-target="#login">
                        <i class="fa fa-user"></i>
                    </button>
                </div>
            </div>
        </nav>
        <!-- another navigation bar -->
        @RenderSection("NavBar2",false)
    </header>
    <!-- Modal login---------------->
        <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <button type="button" class="btn btn-primary" style="width: 100%; background-color: #3b5998;">
                                <i class="fa fa-facebook"></i>   CONTINUE WITH FACEBOOK
                            </button>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-light" style="width: 100%;">
                                <i class="fa fa-google"></i>   CONTINUE WITH GOOGLE
                            </button>
                        </div>
                        <div class="my-2 text-center">
                            OR
                        </div>
                    <form asp-controller="User" asp-action="SignIn" method="post">
                        <div class="mb-3">
                            <input type="Email" name="Email" class="form-control" placeholder="Email*">
                        </div>
                        <div class="mb-3">
                            <input type="password" name="Password" class="form-control" placeholder="Password*">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success" style="width: 100%;">LOGIN</button>
                        </div>
                    </form>

                        <div class="mb-0">
                            <input type="radio" name="RememberMe" id="remember">
                            <label for="remember"> Remember Me</label>
                            <!-- forgot password model-->
                            <a href="" data-bs-toggle="modal" data-bs-target="#forgotPassword" style="float: right;">Forgot Password</a>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-outline-success" style="width: 100%;" asp-controller="user" asp-action="signup">BECOME A FREE MEMBER</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal forgot password -->
        <div class="modal fade" id="forgotPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="enterEmail">Please Enter your Email</label>
                        <div class="my-3">
                            <input type="email" class="form-control" placeholder="Email*">
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-success" style="width: 100%;">Submit</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="" data-bs-toggle="modal" data-bs-target="#login">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>

    @RenderSection("SectionTop", false)
    <main role="main" class="pb-3" style="background-color: #E7E7E7;">
        @RenderBody()
    </main>

        <!-- Our Home Partners -->
         <div class="container mb-5 mt-5 justify-content-between" style="">
            <h3 class="fw-bold mb-4">Our Home Partners</h3>

            <div class="row" id="home-partners">
                <div class="col">
                    <img src="~/images/banks/ABL.png" height="75px" width="150px">
                </div>
                <div class="col">
                    <img src="~/images/banks/SC.png" height="75px" width="150px"/>
                </div>
                <div class="col">
                    <img src="~/images/banks/HBL.png" height="75px" width="150px"/>
                </div>
                <div class="col">
                    <img src="~/images/banks/HMetro.png" height="75px" width="150px"/>
                </div>
                <div class="col">
                    <img src="~/images/banks/JS.png" height="75px" width="150px"/>
                </div>
                <div class="col">
                    <img src="~/images/banks/MCB.png" height="75px" width="150px"/>
                </div>
            </div>
        </div>

        <!-- Footer -->
<footer class="bg-dark text-light">
  <div class="container p-4">

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-bold mb-3">Company</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a asp-action="About" asp-controller="Home" class="text-white-50 text-decoration-none">About Us</a>
            </li>
            <li>
              <a asp-action="Contact" asp-controller="Home" class="text-white-50 text-decoration-none">Contact US</a>
            </li>
            <li>
              <a href="#!" class="text-white-50 text-decoration-none">Jobs</a>
            </li>
            <li>
              <a asp-action="HelpSupport" asp-controller="Home" class="text-white-50 text-decoration-none">Help & Support</a>
            </li>
             <li>
              <a href="#!" class="text-white-50 text-decoration-none">Advertise on ApnaGhar</a>
            </li>
             <li>
              <a href="#!" class="text-white-50 text-decoration-none">Terms of Use</a>
            </li>
            <li>
              <a asp-action="Privacy" asp-controller="Home" class="text-white-50 text-decoration-none">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-bold mb-3">Connect</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white-50 text-decoration-none">Blog</a>
            </li>
            <li>
              <a href="#!" class="text-white-50 text-decoration-none">News</a>
            </li>
            <li>
              <a href="#!" class="text-white-50 text-decoration-none">Forum</a>
            </li>
            <li>
              <a href="#!" class="text-white-50 text-decoration-none">Expo</a>
            </li>
            <li>
              <a href="#!" class="text-white-50 text-decoration-none">Real Estate Agents</a>
            </li>
            <li>
              <a href="#!" class="text-white-50 text-decoration-none">Add Property</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-bold mb-3">Head Office</h5>

          <ul class="list-unstyled mb-0">
            <li class="mb-2">
                <i class="fa fa-map-marker"></i>
              <a href="#!" class="text-white-50 text-decoration-none m-2">Ilam Deen Street#1, Itehaad Park, Paracha Colony, Shahdara Town Lahore</a>
            </li>
            <li class="mb-2">
                <i class="fa fa-phone"></i>
              <a href="#!" class="text-white-50 text-decoration-none m-2">0316-0442336</a>
            </li>
            <li class="mb-2">
                <i class="fa fa-envelope"></i>
              <a href="#!" class="text-white-50 text-decoration-none m-2">Email Us</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <h5 class="text-bold mb-3">Roshan Digital Account</h5>
          <img src="~/images/RAD_Logo1.png" height="50px" width="150px" style="color:white;">

          <h5 class="text-bold mb-3 mt-3">Get Connected</h5>
            <!-- Section: Social media -->
            <section class="mb-4">
          
                <!-- Facebook -->
              <a
                class="btn text-white rounded-circle"
                style="background-color: #3b5998;"
                href="#!"
                role="button"
                ><i class="fa fa-facebook" style="font-size:large"></i>
              </a>
            
                <!-- Twitter -->
              <a
                class="btn text-white rounded-circle"
                style="background-color: #55acee;"
                href="#!"
                role="button"
                ><i class="fa fa-twitter"></i
              ></a>
           
              <!-- youtube -->
              <a
                class="btn text-white rounded-circle"
                style="background-color: #dd4b39;"
                href="#!"
                role="button"
                ><i class="fa fa-youtube"></i
              ></a>
           
              <!-- Instagram -->
              <a
                class="btn text-white rounded-circle"
                style="background-color: #ac2bac;"
                href="#!"
                role="button"
                ><i class="fa fa-instagram"></i
              ></a>
           
             <!-- Linkedin -->
              <a
                class="btn text-white rounded-circle"
                style="background-color: #0082ca;"
                href="#!"
                role="button"
                ><i class="fa fa-linkedin"></i
              ></a>
           
          </section>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-white-50" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: ApnaGharV2. All Rights Reserved
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="./index.js"></script>

    <!--smtp protocol Bundle to send mail (contact page) -->
    <script src="https://smtpjs.com/v3/smtp.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
