@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ApnaGharV2.Models.PropertyInfo
<div class="row m-2">

    <div class="col-5">

                    <div class="card h-100 w-100">
                      <img src="~/images//zahida.jpg" class="card-img-top" alt="...">

                      <div class="card-body">
                        <h5 class="card-title fw-bold">@Model.Title</h5>
                        <p class="card-text">@Model.Description</p>

                      </div>
                    </div>
                  </div>
                      

<div class="col-5 mt-5">
    <h3 class="fw-bold m-2">@Model.Price &nbsp; &nbsp; PKR</h3>
    <p>@Model.Bedrooms &nbsp; &nbsp; bedrooms </p>
    <p>@Model.Bathrooms &nbsp; &nbsp; bathrooms </p>

                        <div class="w-100">

    <a href="mailto: mahreenmehar202@gmail.com">
                        <button class="btn w-50" style="background-color:#3b5998;">EMAIL</button>
                        </a>
                        <a href="mailto: mahreenmehar202@gmail.com">
                        <button class="btn btn-light btn-outline-dark" style="width:48%;">CALL</button>
                        </a>
                        </div>

                        <div class="mt-5 w-100">
                            <a asp-action="ViewProperty" asp-controller="Property">

                        <button class="btn btn-secondary w-100">VIEW DETAILS</button>

                        </a>
                        </div>
                        
       </div>

       </div>